/* .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  } */
html,body{
    min-width: 1000px;
}
#jumbo-canvas{
  text-align: center;
}
#roomname{
  position: absolute;
  left:1px;
  top:0;
  font-size: 0.5em;
}